<p>{{ results.length }} élément(s)</p>

<table>
    <thead>
        <th>Vignette</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>ISBN</th>
        <th>Editeur</th>
        <th>Date de parution</th>
        <th>Style</th>
    </thead>
    <tr ng-repeat="items in results track by $index">
        <td class="smallThumbnail"><img src="{{items.smallThumbnail}}" alt="Pas d'image disponible"></td>
        <td>{{items.title}}</td>
        <td>{{items.author}}</td>
        <td>{{items.isbn}}</td>
        <td>{{items.publisher}}</td>
        <td>{{items.publisherDate}}</td>
        <td>{{items.Style}}</td>
    </tr>
</table>
