@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams.ttf");
    src: url("fonts/CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: "Antique Book";
    src: url("fonts/Antique Book.ttf");
}

@font-face {
    font-family: "SL Books Arts";
    src: url("fonts/SLBookArts.ttf");
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Caviar Dreams";
}

#advancedsearch {
    right: 0px;
    position: absolute;
    top: 0;
    display: block;
}
.advancedsearchdivcontainer *{
max-width: 100%;

}
.advancedsearchdivcontainer {
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 6px;
  position: relative;
    width: 400px;
    height: 50px;
}
#searchby {
  height: 40px;
}
.maxresult{
  position: absolute;
  right: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    width: 100%;
    order: 1;
    margin: 0;
}

h1 {
    font-family: "Antique Book";
    font-size: 5em;
    letter-spacing: .3em;
}

form {
    position: relative;
    padding-bottom: 50px;
}

button, input {
    padding: 10px;
    height: 50px;
    border: 1px solid transparent;
}


/****the search input****************/

input {
    background-color: aqua;
    border-radius: 5px;
    width: 500px;
    margin-right: 0;
    font-size: 1em;
    font-weight: bold;
    color: white;
    font-family: "Caviar Dreams", Garamond;
}

input:hover {
    border: 1px solid gray;
    border-right: 3px solid gray;
}

input:focus {
    border: 1px solid transparent;
    border-right: 3px solid transparent;
}

input:autofill {
    background-color: aqua;
}

input:-webkit-autofill {
    background-color: aqua;
}

input:-moz-autofill {
    background-color: aqua;
}

input[type="search" i] {
    text-align: center;
}


/***********the button****************/

button {
    background-color: aqua;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    color: aqua;
    margin-top: 0;
    margin-left: -8px;
    border-top: 3px solid aqua;
    border-radius: 0 5px 5px 0;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
    text-decoration: none;
}

button:focus {
    focus-ring-color auto 5px;
    -webkit-focus-ring-color auto 5px;
    -moz-focus-ring-color auto 5px;
    outline-color: focus-ring-color;
    outline-color: -moz-focus-ring-color;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

button:active {
    border-top: 3px solid rgb(50, 102, 213);
    background-color: rgb(50, 102, 213);
    outline: 0;
}


/**********the placeholder***************/

::-webkit-input-placeholder {
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: "Caviar Dreams";
}

:-moz-placeholder {
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: "Caviar Dreams";
}

::-moz-placeholder {
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: "Caviar Dreams";
}

:-ms-input-placeholder {
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: "Caviar Dreams";
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}


/****** the main********************/

main {
    flex-grow: 3;
    order: 2;
}


/**********the table******************/

table * {
    border: 1px solid black;
    margin: auto;
    text-align: center;
}


/******inside the table********/

#previewlink {
    border: 0px solid black;
    color: black;
    text-decoration: none;
}


/**********footer*******************/

footer {
    height: 15vh;
    flex-shrink: 1;
    order: 3;
    text-align: center;
}

.credits {
    font-family: "Caviar Dreams";
    padding: 20px;
}
